<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Nueva tarea
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva tarea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <div class="mb-3">
                        <input type="text" formControlName="Name" name="Name" class="form-control"
                            id="exampleFormControlInput1" placeholder="Nombre de tarea">
                    </div>

                    <div class="mb-3">
                        <select id="Priority" formControlName="Priority" name="Priority" class="form-select"
                            aria-label="Default">
                            <option value="">Selecciona</option>
                            <option value="{{ item.name }}" *ngFor="let item of prioridad">{{ item.name }}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <input type="text" formControlName="Description" name="Description" class="form-control"
                            id="exampleFormControlInput1" placeholder="Descripcion de tarea">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-outline-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6" *ngFor="let task of tasks | async; trackBy: tasksTrackFn">
        <div [ngClass]="{'card': task.Status === 1, 'alert alert-warning':task.Status === 0 }">
            <div class="card-body">
                <h5 class="card-title">{{ task.Name }}</h5>
                <p class="card-text">{{ task.Description }}</p>
                <a href="#" class="btn btn-primary">Editar</a>
                <a href="#" (click)="onDelete(task.IdTask)" class="btn btn-primary">
                    <span *ngIf="task.Status === 1; else elseBlock">Desactivar</span>
                    <ng-template #elseBlock>Activar</ng-template>
                </a>
            </div>
        </div>
    </div>
</div>